@model Catalog.DataAccess.Category
@{
    ViewData["Title"] = "Marka Ekleme Formu";
}

    <h1>Marka Ekleme Formu <a class="btn btn-info btn-float-right" asp-controller="Category" asp-action="List">Geri</a></h1>

<form asp-controller="Category" asp-action="Insert">
    <div class="form-group">
        <label>Kategori Adı</label>
        @Html.TextBoxFor(q => q.Name, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
    <p>@ViewBag.Error</p>

</form>