@model Catalog.DataAccess.Category
@{
    ViewData["Title"] = "Kategori Formu Güncelleme";
}

<h1>Kategori Formu Güncelleme <a class="btn btn-info btn-float-right" asp-controller="Category" asp-action="List">Geri</a></h1>

<form asp-controller="Category" asp-action="Update">
    @Html.HiddenFor(q => q.Id)
    <div class="form-group">
        <label>Kategori Adı</label>
        @Html.TextBoxFor(q => q.Name, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
    <p>@ViewBag.Error</p>

</form>